# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.Data.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../:\Users\cosse\Documents\GitKraken Files\UVU_DGM1610_Summer2022\Colour Matcheur\Assets\ScriptableObjs\Data\.idea\.idea.Data.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
